{{!-- File: views/errors/400.handlebars --}}
{{!-- Bad Request --}}
<div style="text-align:center; padding:4rem;">
  <h1>400 Bad Request</h1>
  <p>Yêu cầu của bạn không hợp lệ hoặc thiếu tham số.</p>
  <a href="/">Quay về trang chủ</a>
</div>
